body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
  
.pic-title {
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}

.comment-wrap {
  border: 4px solid black;
  padding: 8px;
  margin-bottom: 50px;
}

.comment-wrap-title {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}

.bordertown {
  border: 20px solid black;
}

.sighting, .m-5 {
  text-align: center;
  padding: 10px;
  font-weight: bold;
}