body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(230, 230, 230) !important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
  
.pic-title {
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}



.bordertown {
  border: 20px solid black;
}

.indexphoto {
width: 800px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding: 40px;

margin: auto;
}
.sighting, .m-5 {
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
.item {
display: flex;
flex-direction: row;
min-height: 40rem;
padding: 40px;
border-radius: 2rem;

}
.inner-carousel {
display: flex;
flex-direction: row;
background-color: rgb(255, 255, 255);
max-width: 600px;

}
.carousel {
cursor: grab;
overflow: hidden;
background-color: rgb(255, 255, 255);
height: 500px;

}
.p {
  border-radius: 10px;
  padding: 20px;

}

.indexphoto {
flex-direction: column;
justify-content: center;

}

.myPhoto {
display: flex;
flex-direction: column;
justify-content: center;


}






